/**
 * Responsive images
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.filler-image {
  width: 100%;
  height: 100%;
}

.img-corner-box {
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

/**
 * Tweaks
 */
.decorless-a {
  text-decoration: none !important;
  font-weight: normal !important;
  color: inherit !important;
}

#discord-wrap {
  content-align: center;
}

#discord-wrap > iframe {
  display: block;
  margin: 0 auto;
}

/**
 * Special design banners
 */
#forkme_banner {
  padding: 10px 10px 10px 10px;
  background-color: #0090ff;
}

#dl_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/dl_icon.png') #0090ff no-repeat 95% 50%;
}

#lk_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/lk_icon.png') #0090ff no-repeat 95% 50%;
}

#disc_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/lk_icon.png') #0090ff no-repeat 95% 50%;
}

.button-banner {
  padding: 10px 25px 10px 25px;
  background-color: #0090ff;
}

/**
 * Button flexboxes.
 */
.button-flex {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-wrap: wrap;
}

.button-flex-elem {
  position: relative;
  margin: 7px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.button-flex-img {
  margin: 7px;
  position: relative;
  max-width: 300px;
  max-height: 170px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.button-flex-img .button-flex-img-ribbon {
  transition: opacity 1.0s;
}

.button-flex-img:hover .button-flex-img-ribbon {
  opacity: 0.95;
  transition: opacity 0.4s;
}

.button-flex-img-ribbon {
  position: absolute;
  bottom: 20px;
  background-color: #fff;
  font-size: 32px;
  width: 100%;
  padding: 0 10px 0 15px;
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .button-flex-img-ribbon {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .button-flex-img-ribbon {
    font-size: 21px;
  }
}

/**
 * Footer
 */
#footer_wrap {
  text-align: center;
  padding: 15px 0 15px 0;
}

/**
 * Link buttons
 */
.link-button {
  background-color: #0090ff;
  border-radius: 5px;
  padding: 12px 15px 12px 15px;
  margin: 5px;
}

a.link-button, a:hover.link-button, a:focus.link-button {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px #0070dd;
}
